form {
    padding: 25px;
    margin: 50px;
    box-shadow: 0 2px 5px #000000;
    background: 30px oldlace;
    font-size: medium;
    border-radius: 4px;
}


input, textarea {
width: calc(70% - 15px);
padding: 8px;
    margin-bottom: 15px;
border: 1px solid;
border-radius: 4px;
outline: none;
}

input::placeholder {
color: #666;
}

button {
width: 50%;
padding: 10px;
border: none;
border-radius: 5px;
background: #1c87c9;
font-size: 16px;
font-weight: 400;
color: #fff;
}

button:hover {
background: #2371a0;
}

label {
    color: #0d5759;
}