{% extends 'home_base/layout.html' %}
{% load render_partial %}

{% block title %}
    ویرایش اطلاعات کاربری
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
    <div class="container">
    <div class="row">
        <div class="col-md-4">
            {% if current_user.avatar %}
                <a class="thumbnail">
                    <img style="width: 100%" src="{{ current_user.avatar.url }}" alt="">
                </a>
            {% endif %}
            {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
        </div>
        <div class="col-md-8">
            <form enctype="multipart/form-data" action="{% url 'edit_user_profie' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">ثبت</button>
            </form>
        </div>
    </div>
    </div>
    {% endif %}
{% endblock %}