{% extends 'home_base/layout.html' %}

{% block title %}
    فروشگاه کتابچه | صفحه اصلی
{% endblock %}

{% block content %}
    <!-- home section starts  -->

<section class="home" id="home">

    <div class="row">

        <div class="content">
            <h3>تا 75٪ تخفیف</h3>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
            <a href="#" class="btn">اکنون خرید کنید</a>
        </div>

        <div class="swiper books-slider">
            <div class="swiper-wrapper">
                {% for book in  books %}
                    <a href="{% url "book-detail" slug=book.slug %}" class="swiper-slide"><img src="{{ book.image.url }}" alt="{{ book.title }}" style="border-radius: 8px; border: 15px; padding: 5px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-left: auto; margin-right: auto; height: 200px; width: border-box;"></a>
                {% endfor %}

            </div>
            <img src="/static/image/stand.png" class="stand" alt="">
        </div>

    </div>

</section>

<!-- home section ense  -->

<!-- icons section starts  -->

<section class="icons-container">

    <div class="icons">
        <i class="fas fa-shipping-fast"></i>
        <div class="content">
            <h3>ارسال رایگان</h3>
            <p>سفارش بالای 100 هزار تومان</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-lock"></i>
        <div class="content">
            <h3>پرداخت امن</h3>
            <p>100 پرداخت مطمئن</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-redo-alt"></i>
        <div class="content">
            <h3>بازگشت آسان</h3>
            <p>10 روز مهلت بازگشت</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-headset"></i>
        <div class="content">
            <h3>پشتیبانی 7/24</h3>
            <p>در هر زمان با ما تماس بگیرید</p>
        </div>
    </div>

</section>

<!-- icons section ends -->

<!-- featured section starts  -->

<section class="featured" id="featured">

    <h1 class="heading"> <span>کتابهای برجسته</span> </h1>

    <div class="swiper featured-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <div class="icons">
                    <a href="#" class="fas fa-search"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="/static/image/book-1.png" alt="">
                </div>
                <div class="content">
                    <h3>کتاب برجسته</h3>
                    <div class="price">5 هزار تومان <span>10 هزارتومان</span></div>
                    <a href="#" class="btn">اضافه کردن به سبد خرید</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="icons">
                    <a href="#" class="fas fa-search"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="/static/image/book-2.png" alt="">
                </div>
                <div class="content">
                    <h3>کتاب برجسته</h3>
                    <div class="price">5 هزار تومان <span>10 هزارتومان</span></div>
                    <a href="#" class="btn">اضافه کردن به سبد خرید</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="icons">
                    <a href="#" class="fas fa-search"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="/static/image/book-3.png" alt="">
                </div>
                <div class="content">
                    <h3>کتاب برجسته</h3>
                    <div class="price">5 هزار تومان <span>10 هزارتومان</span></div>
                    <a href="#" class="btn">اضافه کردن به سبد خرید</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="icons">
                    <a href="#" class="fas fa-search"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="/static/image/book-4.png" alt="">
                </div>
                <div class="content">
                    <h3>کتاب برجسته</h3>
                    <div class="price">5 هزار تومان <span>10 هزارتومان</span></div>
                    <a href="#" class="btn">اضافه کردن به سبد خرید</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="icons">
                    <a href="#" class="fas fa-search"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="/static/image/book-5.png" alt="">
                </div>
                <div class="content">
                    <h3>کتاب برجسته</h3>
                    <div class="price">5 هزار تومان <span>10 هزارتومان</span></div>
                    <a href="#" class="btn">اضافه کردن به سبد خرید</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="icons">
                    <a href="#" class="fas fa-search"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="/static/image/book-6.png" alt="">
                </div>
                <div class="content">
                    <h3>کتاب برجسته</h3>
                    <div class="price">5 هزار تومان <span>10 هزارتومان</span></div>
                    <a href="#" class="btn">اضافه کردن به سبد خرید</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="icons">
                    <a href="#" class="fas fa-search"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="/static/image/book-7.png" alt="">
                </div>
                <div class="content">
                    <h3>کتاب برجسته</h3>
                    <div class="price">5 هزار تومان <span>10 هزارتومان</span></div>
                    <a href="#" class="btn">اضافه کردن به سبد خرید</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="icons">
                    <a href="#" class="fas fa-search"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="/static/image/book-8.png" alt="">
                </div>
                <div class="content">
                    <h3>کتاب برجسته</h3>
                    <div class="price">5 هزار تومان <span>10 هزارتومان</span></div>
                    <a href="#" class="btn">اضافه کردن به سبد خرید</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="icons">
                    <a href="#" class="fas fa-search"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="/static/image/book-9.png" alt="">
                </div>
                <div class="content">
                    <h3>کتاب برجسته</h3>
                    <div class="price">5 هزار تومان <span>10 هزارتومان</span></div>
                    <a href="#" class="btn">اضافه کردن به سبد خرید</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="icons">
                    <a href="#" class="fas fa-search"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="/static/image/book-10.png" alt="">
                </div>
                <div class="content">
                    <h3>کتاب برجسته</h3>
                    <div class="price">5 هزار تومان <span>10 هزارتومان</span></div>
                    <a href="#" class="btn">اضافه کردن به سبد خرید</a>
                </div>
            </div>

        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>

</section>

<!-- featured section ends -->

<!-- newsletter section starts -->

<section class="newsletter">

    <form action="">
        <h3>برای آخرین به روز رسانی مشترک شوید</h3>
        <label for=""></label><input type="email" name="" placeholder="ایمیل خود را وارد کنید" id="" class="box">
        <input type="submit" value="عضویت" class="btn">
    </form>

</section>

<!-- newsletter section ends -->

<!-- arrivals section starts  -->

<section class="container" id="slider">

    <h1 class="heading"> <span>کتابهای منتخب ما</span> </h1>

    <div class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">

            <div class="swiper arrivals-slider">

                <div class="carousel-inner">

                {% for slide in slider %}
                    <div class="image">
                        <img src="{{ slide.image.url }}" alt="" width="200">
                    </div>
                    <div class="content">
                    <div class="item {% if forloop.first %} active {% endif %}">
                        <h3>{{ slide.title }}</h3>
                        <p>{{ slide.description }}</p>
                        <div class="price">35 هزارتومان <span>45 هزارتومان</span></div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        <a href="{{ slide.url }}" class="btn btn-default get" target="_blank">{{ slide.url_title }}</a>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}

        </div>

    </div>


        </div>

    </div>

</section>

<!-- arrivals section ends -->

<!-- deal section starts  -->

<section class="deal">

    <div class="content">
        <h3>معامله روز</h3>
        <h1>تا 50٪ تخفیف</h1>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
        <a href="#" class="btn">اکنون خرید کنید</a>
    </div>

    <div class="image">
        <img src="/static/image/deal-img.jpg" alt="">
    </div>

</section>

<!-- deal section ends -->

<!-- reviews section starts  -->

<section class="reviews" id="reviews">

    <h1 class="heading"> <span>نظرات مشتریان</span> </h1>

    <div class="swiper reviews-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <img src="/static/image/pic-1.png" alt="">
                <h3>نام مشتری</h3>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="/static/image/pic-2.png" alt="">
                <h3>نام مشتری</h3>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="/static/image/pic-3.png" alt="">
                <h3>نام مشتری</h3>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>
            <div class="swiper-slide box">
                <img src="/static/image/pic-4.png" alt="">
                <h3>نام مشتری</h3>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="/static/image/pic-5.png" alt="">
                <h3>نام مشتری</h3>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="/static/image/pic-6.png" alt="">
                <h3>نام مشتری</h3>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

        </div>

    </div>

</section>

<!-- reviews section ends -->

<!-- blogs section starts  -->

<section class="blogs" id="blogs">

    <h1 class="heading"> <span>وبلاگ</span> </h1>

    <div class="swiper blogs-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <div class="image">
                    <img src="/static/image/blog-1.jpg" alt="">
                </div>
                <div class="content">
                    <h3>عنوان متن در اینجا</h3>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </p>
                    <a href="#" class="btn">مطالعه بیشتر</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="/static/image/blog-2.jpg" alt="">
                </div>
                <div class="content">
                    <h3>عنوان متن در اینجا</h3>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </p>
                    <a href="#" class="btn">مطالعه بیشتر</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="/static/image/blog-3.jpg" alt="">
                </div>
                <div class="content">
                    <h3>عنوان متن در اینجا</h3>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </p>
                    <a href="#" class="btn">مطالعه بیشتر</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="/static/image/blog-4.jpg" alt="">
                </div>
                <div class="content">
                    <h3>عنوان متن در اینجا</h3>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </p>
                    <a href="#" class="btn">مطالعه بیشتر</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="/static/image/blog-5.jpg" alt="">
                </div>
                <div class="content">
                    <h3>عنوان متن در اینجا</h3>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </p>
                    <a href="#" class="btn">مطالعه بیشتر</a>
                </div>
            </div>

        </div>

    </div>

</section>

<!-- blogs section ends -->

<!-- footer section starts  -->

{% endblock %}