{% extends 'home_base/layout.html' %}
{% load render_partial %}

{% block title %}
    لیست کتاب ها
{% endblock %}

{% block content %}
    <section>
		<div class="container">
			<div class="row">

				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">محصولات عمده</h2>
                        {% for product in products %}
                            {% include 'product/includes/product_item_partial.html' with product=product%}
                        {% endfor %}
						<ul class="pagination">
                            {% if page_obj.has_previous %}
                                <a href="?page={{ page_obj.previous_page_number }}">قبلی</a>
                            {% endif %}
                            {% for page in paginator %}
                                <li class=""><a href="?page={{ page.number }}">{{ page.number }}</a></li>
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">بعدی</a>
                            {% endif %}
						</ul>
					</div><!--features_items-->
				</div>

				<div class="col-sm-3">
					<div class="left-sidebar">
                        {% render_partial 'product.views.book_categories_components' %}
						<div class="brands_products"><!--brands_products-->
							<h2>برنـد ها</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a href=""> <span class="pull-left">(50)</span>برنـد 1</a></li>
									<li><a href=""> <span class="pull-left">(56)</span>برنـد 2</a></li>
									<li><a href=""> <span class="pull-left">(27)</span>برنـد 3</a></li>
									<li><a href=""> <span class="pull-left">(32)</span>برنـد 4</a></li>
									<li><a href=""> <span class="pull-left">(5)</span>برنـد 5</a></li>
								</ul>
							</div>
						</div><!--/brands_products-->

						<div class="price-range"><!--price-range-->
							<h2>فیلتـر قیمـت</h2>
							<div class="well">
								 <div class="slider slider-horizontal" style="width: 172px;"><div class="slider-track"><div class="slider-selection" style="left: 0.025%; width: 0.02%;"></div><div class="slider-handle round left-round" style="left: 0.025%;"></div><div class="slider-handle round" style="left: 0.045%;"></div></div><div class="tooltip top" style="top: -30px; left: -30.4398px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">250 : 450</div></div>
                                     <label for="sl2"></label><input type="text" class="span2" value="" data-slider-min="0" data-slider-max="1000000" data-slider-step="5" data-slider-value="[250,450]" id="sl2" style=""></div><br>
								 <b>1.000.000 ريال</b> <b class="pull-left">0 ريال</b>
							</div>
						</div><!--/price-range-->

						<div class="shipping text-center"><!--shipping-->
							<img src="/static/image/home/shipping.jpg" alt="">
						</div><!--/shipping-->

					</div>
				</div>

			</div>
		</div>
	</section>
{% endblock %}