<!-- header section starts  -->

<header class="header">

    <div class="header-1">

        <a href="{% url 'book-list' %}" class="logo"> <i class="fas fa-book"></i> کتابخانه </a>

        <form action="" class="search-form">
            <input type="search" name="" placeholder="جستجو کنید" id="search-box">
            <label for="search-box" class="fas fa-search"></label>
        </form>

        <div class="icons">
            <div id="search-btn" class="fas fa-search"></div>
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-shopping-cart"></a>
            <div id="login-btn" class="fas fa-user"></div>
        </div>

    </div>
    <style>
      .dark-mode {
        background-color: black;
        text-decoration-color: black;
        border-top-color: black;
        --header-color: black;
        color: white;
      }
      .light-mode {
        background-color: white;
        color: black;
      }
    </style>
    <script>
      function darkMode() {
        var element = document.body;
        element.classList.toggle("dark-mode");
      }
    </script>
    <div class="header-2">

        <nav class="navbar">
            <button onclick="darkMode()">حالت شب</button>
            <a href="{% url 'home-page' %}">خانه</a>
            <a href="{% url 'book-list' %}">کتابخانه</a>
            <a href="{% url 'contact-us' %}">تماس با ما</a>
            <a href="{% url 'articles-page' %}">مقالات</a>
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    <a href="/admin">پنل ادمین</a>
                {% endif %}
                <a href="#">پنل کاربری</a>
                <a href="{% url 'create-profile-page' %}">پروفایل</a>
                <a href="#">سبد خرید</a>
                <a href="{% url 'logout-page' %}">خروج</a>

            {% else %}
                <a href="{% url 'register-page' %}">ثبت نام</a>
                <a href="{% url 'login-page' %}">ورود</a>
            {% endif %}



        </nav>
    </div>

</header>

<!-- header section ends -->
