<!-- header section starts  -->

<header class="header">

    <div class="header-1">

        <a href="{% url 'book-list' %}" class="logo"> <i class="fas fa-book"></i> کتابخانه </a>

        <form action="" class="search-form">
            <input type="search" name="" placeholder="جستجو کنید" id="search-box">
            <label for="search-box" class="fas fa-search"></label>
        </form>

        <div class="icons">
            <div id="search-btn" class="fas fa-search"></div>
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-shopping-cart"></a>
            <div id="login-btn" class="fas fa-user"></div>
        </div>

    </div>

    <div class="header-2">
        <nav class="navbar">
            <a href="{% url 'home-page' %}">خانه</a>
            <a href="{% url 'book-list' %}">کتابخانه</a>
            <a href="{% url 'contact-us' %}">تماس با ما</a>

        </nav>
    </div>

</header>

<!-- header section ends -->
